ion-content{
    --background: #273F5E  ;
}
h3{
    position: relative;
    top:1cm;
    text-align: center;
    font-weight: bolder;
    font-size: 2.2rem;;
    color:white;
    text-shadow: #000000 1px 0 10px;
}
ion-label{
    text-align:justify;
    font-size: 1.7em !important;
    font-weight: bold;
    text-shadow: #000000 1px 0 10px;
   

}



ion-item{
    padding-right: 1.5cm;
    padding-left: 1.5cm;
    --background: #273F5E  ;
    --border-color: 10px #000000;
 

}

.form{
    position: relative;
    top:10%;
}



#button{
    position: relative;
    top:180%;
    left:28%;
    width: 4cm;
    height: 40px;
    color: #000000;
    font-weight: 900;
    font-size:1rem;
    --background:#31e22e ;
    --border-color: 10px solid black;
    --border-radius: 30px ;
    --box-shadow: #000000 5px 0px 10px;
}
